[/Script/EngineSettings.GameMapsSettings]
GameDefaultMap=/Game/Maps/MainMap
EditorStartupMap=/Game/Maps/MainMap
GameInstanceClass=/Script/Engine.GameInstance

[/Script/Engine.Engine]
bUseFixedFrameRate=True
FixedFrameRate=60.0

[/Script/Engine.RendererSettings]
r.Mobile.ShadingPath=0
r.Mobile.SupportGPUScene=False
r.Mobile.AntiAliasingMethod=0
r.Mobile.FloatPrecisionMode=1

[/Script/Engine.PhysicsSettings]
DefaultGravityZ=-980.0